<html>
{{> headers}}
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<div id="one">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/navBar.js"></script>
    <script src = "js/filter.js"></script>
    <script src="js/dropBy.js.js"></script>

    <div class="top">
        
    {{!-- <img src= "./images/Logo.png" style="width:50px;height:50px;"> --}}

    <a href="create">
        <i class="far fa-plus-square fa-3x"></i>
    </a>

    <button class="openbtn" >☰</button>
    <div id="mySidepanel" class="sidepanel">
      <a class="closebtn" >×</a>
      <a href="home">Home Page</a>
      <a href="list">Events List View_A</a>
      <a href="create">Create Event</a>
      <a href="myEvents">My Events</a>
      <a href="bVersion">Events List View_B</a>
    </div>
    
    <header><h2> Events List View_B </h2></header>

    </div>

    <div class="middle">

    <div class="middle">
    <select id="myBtnContainer">
    <option><button class="btn active"> Display All</button></option>
    <option><button class="btn"> Food</button></option>
    <option><button class="btn"> Study</button></option>
    <option><button class="btn"> Show</button></option>
    <option><button class="btn"> Guest Speaker</button></option>
    </select>

    <a href="myEvents">
        <i class="fas fa-sync-alt fa-lg"></i>
    </a>

    </div>
</div>

    <div id = "foodEvents">
    {{# each food}}
        <div class="container" id="{{this.id}}">
        <div class="eventText">
            <strong>{{this.eventTitle}}</strong><br>
            Date: {{this.date}}<br>
            <button class="showEventBtn" id="{{this.id}}">Toggle Details</button>
            <div class="testing" id ="hiddenEventInfo" style="display:none">
            Location: {{this.location}}<br>
            Time: {{this.time}}<br>
            Price: {{this.price}}<br>
            Description: {{this.description}}<br>
            <img src= "./images/{{this.location}}.png" style="width:300px;height:200px;">
            </div>
        </div>
        </div>
        <br>
    {{/ each}}
    </div>

    <div id = "studyEvents">
    {{# each study}}
        <div class="container" id="{{this.id}}">
        <div class="eventText">
            <strong>{{this.eventTitle}}</strong><br>
            Date: {{this.date}}<br>
            <button class="showEventBtn" id="{{this.id}}">Toggle Details</button>
            <div class="testing" id ="hiddenEventInfo" style="display:none">
            Location: {{this.location}}<br>
            Time: {{this.time}}<br>
            Price: {{this.price}}<br>
            Description: {{this.description}}<br>
            <img src= "./images/{{this.location}}.png" style="width:300px;height:200px;">
            </div>
        </div>
        </div>
        <br>
    {{/ each}}
    </div>

    <div id = "showEvents">
    {{# each show}}
        <div class="container" id="{{this.id}}">
        <div class="eventText">
            <strong>{{this.eventTitle}}</strong><br>
            Date: {{this.date}}<br>
            <button class="showEventBtn" id="{{this.id}}">Toggle Details</button>
            <div class="testing" id ="hiddenEventInfo" style="display:none">
            Location: {{this.location}}<br>
            Time: {{this.time}}<br>
            Price: {{this.price}}<br>
            Description: {{this.description}}<br>
            <img src= "./images/{{this.location}}.png" style="width:300px;height:200px;">
            </div>
        </div>
        </div>
        <br>
    {{/ each}}
    </div>

    <div id = "speakerEvents">
    {{# each guestSpeaker}}
        <div class="container" id="{{this.id}}">
        <div class="eventText">
            <strong>{{this.eventTitle}}</strong><br>
            Date: {{this.date}}<br>
            <button class="showEventBtn" id="{{this.id}}">Toggle Details</button>
            <div class="testing" id ="hiddenEventInfo" style="display:none">
            Location: {{this.location}}<br>
            Time: {{this.time}}<br>
            Price: {{this.price}}<br>
            Description: {{this.description}}<br>
            <img src= "./images/{{this.location}}.png" style="width:300px;height:200px;">
            </div>
        </div>
        </div>
        <br>
    {{/ each}}
    </div>
</body>
</html>
