<html>
<head>
    <title>DropBy</title>
    <link href="css/DropByCSS.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<div class="one">
    <div class="top">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/navBar.js"></script>
    <script src = "js/filter.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <a href="create">
        <i class="far fa-plus-square fa-3x"></i>
    </a>
    
    <button class="openbtn" >☰</button>
    <div id="mySidepanel" class="sidepanel">
      <a class="closebtn" >×</a>
      <a href="home">Home Page</a>
      <a href="list">Events List</a>
      <a href="create">Create Event</a>
      <a href="myEvents">My Events</a>
      <a href="bVersion">bVersion</a>
    </div>

    <header><h2>List View</h2></header>
    
    </div>
  
    <div class="middle">
    <select id="myBtnContainer">
    <option><button class="btn active"> Display All</button></option>
    <option><button class="btn"> Food</button></option>
    <option><button class="btn"> Study</button></option>
    <option><button class="btn"> Show</button></option>
    <option><button class="btn"> Guest Speaker</button></option>
    </select>

    <a href="list">
        <i class="fas fa-sync-alt fa-lg"></i>
    </a>

    </div>
</div>

<div id = "foodEvents">
{{# each food}}
    <div class="container">
      <div class="eventText">
        <strong>{{this.eventTitle}}</strong><br>
        Location: {{this.location}}<br>
        Time: {{this.time}}<br>
        Date: {{this.date}}<br>
        Price: {{this.price}}<br>
        Description: {{this.description}}
      </div>
    </div>
    <br>
{{/ each}}
</div>

<div id = "studyEvents">
{{# each study}}
    <div class="container">
      <div class="eventText">
        <strong>{{this.eventTitle}}</strong><br>
        Location: {{this.location}}<br>
        Time: {{this.time}}<br>
        Date: {{this.date}}<br>
        Price: {{this.price}}<br>
        Description: {{this.description}}
      </div>
    </div>
    <br>
{{/ each}}
</div>

<div id = "showEvents">
{{# each show}}
    <div class="container">
      <div class="eventText">
        <strong>{{this.eventTitle}}</strong><br>
        Location: {{this.location}}<br>
        Time: {{this.time}}<br>
        Date: {{this.date}}<br>
        Price: {{this.price}}<br>
        Description: {{this.description}}
      </div>
    </div>
    <br>
{{/ each}}
</div>

<div id = "speakerEvents">
{{# each guestSpeaker}}
    <div class="container">
      <div class="eventText">
        <strong>{{this.eventTitle}}</strong><br>
        Location: {{this.location}}<br>
        Time: {{this.time}}<br>
        Date: {{this.date}}<br>
        Price: {{this.price}}<br>
        Description: {{this.description}}
      </div>
    </div>
    <br>
{{/ each}}
</div>

</body>
</html>
