<html>
<head>
    <title>DropBy</title>
    <link href="css/DropByCSS.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<div id="one">
    <center><h2>List View</h2></center>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/mapPage.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="top">

    <a href="create">
        <i class="far fa-plus-square fa-3x"></i>
    </a>

    <button class="openbtn" >☰</button>
    <div id="mySidepanel" class="sidepanel">
      <a class="closebtn" >×</a>
      <a href="/">Home Page</a>
      <a href="list">Events List</a>
      <a href="map">View Map</a>
      <a href="create">Create Event</a>
      <a href="myEvents">Your Events</a>
    </div>
    </div>
  
    <div class="middle">

    <select>
    <option value="filter">Select Filter</option>
    <option value="food">Food</option>
    <option value="study">Study</option>
    <option value="show">Show</option>
    <option value="guestspeaker">Guest Speaker</option>
    </select>

    <a href="list">
        <i class="fas fa-sync-alt fa-lg"></i>
    </a>

    </div>
</div>

<div id="studying">
  <strong>{{cogsStudying.eventTitle}}</strong><br>
  Location: {{cogsStudying.location}}<br>
  Time: {{cogsStudying.time}}<br>
  Date: {{cogsStudying.date}}<br>
  Price: {{cogsStudying.price}}<br>
  Description: {{cogsStudying.description}}
</div>

<br>

<div id="freeFood">
  <strong>{{freeFood.eventTitle}}</strong><br>
  Location: {{freeFood.location}}<br>
  Time: {{freeFood.time}}<br>
  Date: {{freeFood.date}}<br>
  Price: {{freeFood.price}}<br>
  Description: {{freeFood.description}}
</div>

<br>

<div id="improvShow">
  <strong>{{improvShow.eventTitle}}</strong><br>
  Location: {{improvShow.location}}<br>
  Time: {{improvShow.time}}<br>
  Date: {{improvShow.date}}<br>
  Price: {{improvShow.price}}<br>
  Description: {{improvShow.description}}
</div>

</body>
</html>
