<html>
<head>
    <title>DropBy</title>
    <link href="css/DropByCSS.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<div id="one">
    <center><h2> My Events </h2></center>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "js/mapPage.js"></script>

    <a href="create">
        <i class="far fa-plus-square fa-3x"></i>
    </a>

    <button class="openbtn" >☰</button>
    <div id="mySidepanel" class="sidepanel">
      <a class="closebtn" >×</a>
      <a href="home">Home Page</a>
      <a href="list">Events List</a>
      <a href="map">View Map</a>
      <a href="create">Create Event</a>
      <a href="myEvents">Your Events</a>
    </div>
    </div>

    <div class="middle">

    <select>
    <option value="filter">Select Filter</option>
    <option value="food">Food</option>
    <option value="study">Study</option>
    <option value="show">Show</option>
    <option value="guestspeaker">Guest Speaker</option>
    </select>

    <a href="myEvents">
        <i class="fas fa-sync-alt"></i>
    </a>

    </div>
</div>

<div id="two">
  <p>{{event.eventTitle}}</p><br>
  <p>{{event.location}}</p><br>
  <p>{{event.time}}</p><br>
  <p>{{event.date}}</p><br>
  <p>{{event.price}}</p><br>
  <p>{{event.description}}</p><br>
</div>
</body>
</html>
